$gray : #d3d3d3;
$bgcolor: #f5f6f6;
$redText: #ed1c24;
$greenButton: #66B653;
$grayButton: #473D3B;
$modalBackground: #F5F5F5;
$graytext: #9A9A9A;

%container-wrapper {
    width: 98%;
    margin: auto;
    max-width: 1400px;
}