@import '_var';
@import "normalize";
@import "breadcrumb";
@import "header_container";

body {
  background: $bgcolor;
  font-size: 16px;
}

a, a:active, a:hover, a:visited {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

ul {margin: 0;}

// main_container.scss file
main {
    margin-top: 140px;
    height: 300px;
    .main-wrapper {
        @extend %container-wrapper;
        .route-links {
            display: flex;
            &>ul, &>div {
                width: 50%;
            }
            &>div {
                text-align: right;
                vertical-align: middle;
                font-size: .9em;
                font-weight: 550;
                a, a:active, a:hover, a:visited {color: gray;}
            }
        }
    }
}

// media file
@media (max-width: 1240px) {
    header .header-container {
        width: 100%;
        .main-menu {
            width: 100%;
            display: none;
        }
    }
    
}